.Mooncake {
  width: 50%;
  z-index: 10;
}

.new-moon {
  width: 100px;
  height: 100px;
}

.first-quarter, 
.last-quarter {
  width: 100px;
}

.full-moon {
  width: 110px;
}

.lastQuarter {
  width: 100px;
}

.phase-name,
.phase-date {
  color: #FFFFFF;
}

.phase-date {
  font-size: .8em;
  font-weight: bold;
}

@media screen and (max-width: 320px) {
  .Mooncake {
    width: 100%;
  }
}