.btn-shelf {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  z-index: 5;
}

.cookie-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.left-cookie, .right-cookie {
  position: relative;
  cursor: pointer;
  transition: all .6s;
}

.left-cookie {
  top: 55px;
  left: 80px;
  width: 322px;
  z-index: 2;
  transform: rotate(-20deg);
}

.right-cookie {
  top: 47px;
  right: 99px;
  width: 280px;
  z-index: 1;
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(0deg);
}

.left-cookie-broken {
  left: -125px;
  transform: rotate(-6deg);
  z-index: 2;
}

.right-cookie-broken {
  left: 100px;
  transform: rotate(-16deg);
  z-index: 2;
}

.wisdom-wrapper {
  position: relative;
  z-index: 5;
  bottom: 180px;
  left: 8px;
}

.message {
  position: relative;
  top: 60px;
  left: 188px;
  width: 320px;
  color: #3A4B77;
  font-size: .8em;
  font-weight: bold;
  margin: 0;
}

.put-inna-jar,
.eat-another-cookie {
  display: inline-block;
}

.eat-another-cookie {
  margin-left: 15px;
}

.to-jar,
.eat-cookie,
.wisdom-jar {
  cursor: pointer;
  box-shadow: 0px 0px 10px 2px #FFF;
}

.to-jar:hover,
.eat-cookie:hover,
.wisdom-jar:hover {
  box-shadow: 0px 0px 20px 2px #FFF;
}

.to-jar {
  width: 80px;
  padding-bottom: 4.5px;
}

.eat-cookie {
  width: 80px;
  padding: 10px 0;
}

.wisdom-jar {
  width: 70px;
  padding: 7px;
}

.btn-txt {
  margin: 0;
}

@media screen and (max-width: 601px) {
  .left-cookie {
    width: 300px;
  }

  .right-cookie {
    width: 260px;
  }
}

@media screen and (max-width: 559px) {
  .left-cookie {
    width: 260px;
  }

  .right-cookie {
    width: 220px;
  }

  @media screen and (max-width: 479px) {
    .left-cookie {
      width: 200px;
      left: 60px;
    }

    .right-cookie {
      width: 180px;
      right: 60px;
    }
  }
}