.Jar {
  height: 600px;
}

.empty-jar {
  position: relative;
  width: 400px;
  z-index: 0;
}

.wisdom-collection {
  position: relative;
  top: -532px;
  margin: 0 auto;
  padding: 10px;
  width: 330px;
  height: 470px;
  overflow: scroll;
  z-index: 2;
}

@media screen and (max-width: 1111px) {
  .Jar {
    height: 650px;
  }
}

@media screen and (max-width: 400px) {
  .empty-jar {
    width: 320px;
  }

  .wisdom-collection {
    top: -400px;
    height: 370px;
  }
}

@media screen and (max-width: 395px) {
  .Jar {
    height: 550px;
  }
}
