.wisdom-collection {
  position: absolute;
  top: 100px;
  right: 120px;
  width: 330px;
  height: 600px;
  z-index: 0;
}

.empty-jar {
  position: absolute;
  right: 0px;
  width: 400px;
  z-index: 0;
}

@media screen and (max-width: 1111px) {
  .wisdom-collection {
    top: 600px;
    right: 0;
    width: 100%;
  }

  .empty-jar {
    position: relative;
  }
}