.WisdomInJar {
  top: 20px;
  right: 34px;
  width: 300px;
  z-index: 10;
  margin: 10px auto;
}

.wisdom-message, 
.delete-btn {
  position: relative;
  cursor: pointer;
  color: #FFFFFF;
  font-size: .9em;
  z-index: 100;
}

.delete-btn {
  opacity: 0;
}

.WisdomInJar:hover .delete-btn,
.WisdomInJar:hover .wisdom-message {
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.delete-btn {
  background: transparent;
  border: none;
  font-weight: bold;
  z-index: 10; 
}