.overhead {
  position: relative;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.7em;
  color: #FFFFFF;
  z-index: 10;
  margin: 30px;
}

.show-moons {
  width: 100%;
  height: 300px;
}

.Moons .wisdom-jar {
  width: 30px;
  padding: 5px;
}

.nav {
  text-decoration: none;
}

.jar-o-wisdom {
  margin-top: 10px;
}