.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  background-image: url('../../images/red-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.App-header {
  padding: 20px;
}

.left-column {
  width: 20%;
  background-image: url('../../images/dragon.png');
}

.dragon {
  width: 370px;
  height: 100vh;
}

.main {
  width: 60%;
  margin: 0 auto;
}

.title,
.under-title,
.under-button,
.btn-txt {
  color: #FFFFFF;
}

.pop-up,
.btn-txt {
  font-size: .8em;
}

.title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.3em;
}

.under-title {
  font-size: 1em;
  font-weight: lighter;
}

.right-column {
  width: 20%;
}

.keepjar-btn {
  position: absolute;
  top: 120px;
  right: 30px;
}

.wisdom-jar {
  width: 100px;
}

.under-button {
  margin: 0;
  font-size: .8em;
}

.pop-up {
  visibility: hidden;
}

.nav {
  text-decoration: none;
}

.left-cookie, .right-cookie {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  transition: all 1s;
}

.cookie {
  width: 100%;
  margin: 0 auto;
}

.left-cookie {
  top: 200px;
  left: 469px;
  width: 320px;
  z-index: 2;
  transform: rotate(10deg);
}

.right-cookie {
  top: 200px;
  right: 500px;
  width: 274px;
  z-index: 1;
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.left-cookie-broken {
  left: 38px;
}

.right-cookie-broken {
  right: 70px;
}

.wisdom-wrapper {
  position: relative;
  top: 75px;
  width: 338px;
  margin: auto;
  z-index: 0;
}

.message {
  position: absolute;
  top: 34px;
  text-align: center;
  vertical-align: middle;
  width: 338px;
  color: #3A4B77;
  font-size: .8em;
  font-weight: bold;
  margin: 0;
}

.cookie-btn {
  position: absolute;
  top: 285px;
  right: 30px;
}

.eat-cookie {
  width: 80px;
  cursor: pointer;
}

.putjar-btn {
  position: absolute;
  top: 420px;
  right: 30px;
}

.to-jar {
  width: 100px;
  cursor: pointer;
}