.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  background-image: url('../../images/red-bg.jpg');
  background-color: rgba(0, 0, 0, .3);
  background-repeat: no-repeat;
  background-size: cover;
}

.App-header {
  width: 100%;
  z-index: 100;
}

.left-column, 
.right-column {
  width: 50%;
  margin: auto;
}

.title,
.under-title,
.btn-txt {
  color: #FFFFFF;
}

.dragon {
  position: absolute;
  top: 10px;
  left: 0;
  width: 400px;
  height: 760px;
  z-index: 0;
}

.btn-txt {
  font-size: .8em;
  margin: 5px;
}

.title {
  position: relative;
  font-family: 'Press Start 2P', cursive;
  font-size: 2.3em;
  z-index: 3;
}

.under-title {
  font-size: 1em;
  position: relative;
  z-index: 3;
}

.left-column,
.right-column {
  width: 50%;
  margin: 130px auto;
}


@media screen and (max-width: 1228px) {
  .message {
    left: 25%;
  }
}

@media screen and (max-width: 1203px) {
  .left-column {
    width: 60%;
  }

  .right-column {
    width: 40%;
  }
}

@media screen and (max-width: 1111px) {
  .App {  
    flex-direction: column;
  }
  
  .left-column,
  .right-column {
    width: 100%;
    margin: 20px auto;
  }

  .left-column {
    margin-bottom: 0;
  }

  .right-column {
    margin: 0 auto;
  }

  .dragon {
    top: 64px;
    left: 34px;
  }
}

@media screen and (max-width: 555px) {
  .title {
    font-size: 2em;
  }
  .under-title {
    font-size: .8em;
  }
}

@media screen and (max-width: 400px) {
  .dragon {
    width: 320px;
    height: 600px;
  }
}

@media screen and (max-width: 348px) {
  .dragon {
    width: 320px;
    height: 600px;
  }
}